development/1_source/2_admin/1_pug/emails/NewConsultRequestNotification.pug
doctype html
html
    head
        title Оповещение о новом запросе консультации
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='../css/emails.css', rel='stylesheet')
    body
    
        div.Email-ContainsWrapper
            div.Email-ParagraphsBlock: p Поступил новый запрос на консультацию:
            ul.Email-RequestDataList 
                li 
                    span.Email-RequestDataList-Title Время запроса:
                    span.Email-RequestDataList-Description 49:34:34 34:43
                li 
                    span.Email-RequestDataList-Title Указанное имя:
                    // $inputedData[$inputFieldName['name']]
                    span.Email-RequestDataList-Description Алексей Петров
                li 
                    span.Email-RequestDataList-Title Указанный email:
                    // $inputedData[$inputFieldName['email']]
                    span.Email-RequestDataList-Description qwer@wqer.co
            div.Email-ParagraphsBlock
                p 
                    | Поскольку у Вас настроен 
                    span.Email-Typo-Accent полностью автоматический ответ
                    | , то письмо потенциальному клиенту будет отправлено 
                    span.Email-Typo-Accent автоматически 
                    | через настроенный Вами промежуток времени.
                p
                    | У Вас настроен 
                    span.Email-Typo-Accent полуавтоматический ответ 
                    | с 
                    span.Email-Typo-Accent автоматической отправкой письма по истечении указанного в настройках времени
                    | , а потому во избежание плохого впечатления со стороны клиента из-за вероятной 
                    | некорректной подстановки указанного им имени в письмо следует зайти в админ-панель и 
                    | выбрать вариант письма в качестве ответа на заявку.
                p
                    | У Вас настроен 
                    span.Email-Typo-Accent 
                        | полуавтоматический ответ без автоматической отправки письма по истечении 
                        | указанного в настройках времени
                    | , а потому следует зайти в админ-панель и выбрать вариант письма в качестве ответа на заявку. 
                    | Без этого, письма потенциальному клиенту отправлено не будет.
                p У Вас настроен 
                    span.Email-Typo-Accent полностью ручной режим ответа
                    | , потому от Вас требуется 
                    span.Email-Typo-Accent самостоятельно
                    | написать и отправить письмо потенциальному клиенту (нажатие кнопки «ответ» 
                    | автоматически подставит электронный адрес потенциального клиента в поле получателя).
                    
            div.Email-ToAdminPanelLink-Wrapper
                a.Email-Typo-Link(href='#') Доступ к админ-панели

development/2_devBuild/admin/emails/NewConsultRequestNotification.html
<!DOCTYPE html>
<html>

<head>
    <title>Оповещение о новом запросе консультации</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="Email-ContainsWrapper" style="font-family: Verdana,Geneva,sans-serif; font-size: 13px;">
        <div class="Email-ParagraphsBlock" style="line-height: 1.3;">
            <p>Поступил новый запрос на консультацию:</p>
        </div>
        <ul class="Email-RequestDataList">
            <li> <span class="Email-RequestDataList-Title" style="margin-right: 4px;">Время запроса:</span><span class="Email-RequestDataList-Description" style="font-weight: 700; color: #4183d7;">49:34:34 34:43</span>
            </li>
            <li> <span class="Email-RequestDataList-Title" style="margin-right: 4px;">Указанное имя:</span>
                <!-- $inputedData[$inputFieldName['name']]--><span class="Email-RequestDataList-Description" style="font-weight: 700; color: #4183d7;">Алексей Петров</span>
            </li>
            <li> <span class="Email-RequestDataList-Title" style="margin-right: 4px;">Указанный email:</span>
                <!-- $inputedData[$inputFieldName['email']]--><span class="Email-RequestDataList-Description" style="font-weight: 700; color: #4183d7;">qwer@wqer.co</span>
            </li>
        </ul>
        <div class="Email-ParagraphsBlock" style="line-height: 1.3;">
            <p>Поскольку у Вас настроен <span class="Email-Typo-Accent" style="font-weight: 700; color: #d64541;">полностью автоматический ответ</span>, то письмо потенциальному клиенту будет отправлено <span class="Email-Typo-Accent" style="font-weight: 700; color: #d64541;">автоматически </span>через
                настроенный Вами промежуток времени.</p>
            <p>У Вас настроен <span class="Email-Typo-Accent" style="font-weight: 700; color: #d64541;">полуавтоматический ответ </span>с <span class="Email-Typo-Accent" style="font-weight: 700; color: #d64541;">автоматической отправкой письма по истечении указанного в настройках времени</span>,
                а потому во избежание плохого впечатления со стороны клиента из-за вероятной некорректной подстановки указанного им имени в письмо следует зайти в админ-панель и выбрать вариант письма в качестве ответа на заявку.</p>
            <p>У Вас настроен <span class="Email-Typo-Accent" style="font-weight: 700; color: #d64541;"> полуавтоматический ответ без автоматической отправки письма по истечении 
указанного в настройках времени</span>, а потому следует зайти в админ-панель и выбрать вариант письма в качестве ответа на заявку. Без этого, письма потенциальному клиенту отправлено не будет.</p>
            <p>У Вас настроен <span class="Email-Typo-Accent" style="font-weight: 700; color: #d64541;">полностью ручной режим ответа</span>, потому от Вас требуется <span class="Email-Typo-Accent" style="font-weight: 700; color: #d64541;">самостоятельно</span>написать
                и отправить письмо потенциальному клиенту (нажатие кнопки «ответ» автоматически подставит электронный адрес потенциального клиента в поле получателя).</p>
        </div>
        <div class="Email-ToAdminPanelLink-Wrapper"><a class="Email-Typo-Link" href="#" style="color: #4183d7; border-bottom: 1px solid #4183d7; padding-bottom: 1px; text-decoration: none;">Доступ к админ-панели</a>
        </div>
    </div>
</body>

</html>
